.root {
    /*margin-top: 45px;*/
    width: 80%;
    margin: 0 auto;
    /*margin-top: 20px;*/
}

.wrapperZones {
    display: flex;
    flex-direction: row;
}

.gridWrapper {
    display: grid;
    grid-template-rows: repeat(48, 1fr);
    grid-template-columns: 1fr;
    width: 60px;
    margin-top: 80px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
}

.timeItem {
    text-align: center;
    border: solid rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0;
    box-sizing: border-box;
    width: 100%;
}

.zones {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.timeLine {
    width: 180px;
    border: solid rgba(0, 0, 0, 0.32);
    border-width: 0 1px 0 0;
    height: 100%;
}

.line {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.32);
    height: 1px;
    right: 0;
    left: 300px;
}

.timeNow {
    position: absolute;
    height: 2px;
    background-color: red;
    z-index: 2;
    margin: 0 auto;
    width: 80%;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.14);
    padding: 6px;
    margin-right: 10px;
    margin-top: 80px;
    position: sticky;
    top: 140px;
}
