.wrapper {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.wrapper__actions {
  position: sticky;
  top: 80px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.wrapper__container {
  flex: 1;
}
