.form-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 24px 16px;
}

.profile-wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  padding: 16px 64px 0 64px;
}

.aside {
  flex: 1;
}

.aside-container {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  padding: 16px;
}

.aside-container__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile {
  display: flex;
  gap: 8px;
}

.profile__actions {
  position: sticky;
  top: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.user-info {
  flex: 1;
  padding: 34px;
}

.user-info__avatar {
  aspect-ratio: 1;
  height: 100%;
}
